.countdown-container {
    display: flex;
    justify-content: center;     /* Center the content horizontally */
    align-items: center;         /* Center the content vertically */
    width: 150px;                /* Width of the outer circle */
    height: 150px;               
    background-color:white;   
    border-radius: 50%;     
    position: relative; 
  }


  