body {
  background-color: #104E8B;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.waveform-container {
  position: relative;
  display: flex;
  width: 1920px;
  height: 990px;
}

.wave {
  position: absolute;
  z-index: -1;
  width: 1920px;
  height: 100px;
  bottom: 48%;
}

.wave2 {
  background-color: orange;
  width: 1920px;
  height: 425.05px;
  bottom: 0%;
  position: absolute;
}

.recording-container {
  width: 150px;
  height: 150px;
  left: 46%;
  bottom: 42%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  z-index: 1;
}

.stop-button {
  background-color: white;
  color: black;
  height: 80px;
  width: 80px;
  font-size: 16px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
