body {
  background-color: #104E8B;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.waveform-container {
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waveform {
  position: absolute;
  bottom: 0;
  top: 20%;
  width: 800%;
  height: 400%; 
  background: linear-gradient(45deg, #ffb56a, #ff6384);
  z-index: -1; 
  animation: animateWave 2s infinite ease-in-out;
}

@keyframes animateWave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.recording-container {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; 
}

.stop-button {
  background-color: white;
  color: black;
  height: 80px;
  width: 80px;
  font-size: 16px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}